.form-container .message-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .message-container .spinner {
    width: 24px; /* Adjust the size as needed */
    height: 24px;
    margin-right: 10px;
}

.error-message, .success-message {
    margin-top: 20px;
    text-align: center;
    /* Add additional styling as needed */
}
